html{
    size:1em;
}

@font-face {
    font-family: "header-font"; 
    src: url("/fonts/columbus/ColumbusPlain001000-R026.ttf") format("truetype");
}
@font-face {
    font-family:"main-text-font"; 
    src: url("/fonts/goudy-bookletter/GoudyBookletter1911-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"subheader-font"; 
    src: url("/fonts/blue-cashews/Blue_Cashews.otf") format("opentype");
}

body,iframe {
    cursor: url("/images/cursor-plant-pot.png"), auto;
}
a:link{
    color: #0077b6;text-decoration: none;
}
a:hover{
    color: #d1495b !important; text-decoration: underline !important;
    cursor:url("/images/cursor-bunny.gif"), auto;
}
a:active {
    text-decoration: dotted;
}
a:visited{
    color: #0070ac;text-decoration: none;
}

/* this allows the text color, border color, border in general, and more to be altered in one spot. to set these options, use var(--boxbgcolor) for example, in place of background-color(#hex)*/
:root{
    --headercolor: #1f5829;
    --boxbgcolor: #fffee4;
    --maintextcolor: #2e1806;
    /*border info*/
    --bordermain: 2px solid #4f6c38; 
    --borderaside: 1.5px solid #4f6c38;
    --borderheader: 2.5px solid #4f6c38;
}

p, h1, h2, h3, h4 {
    text-align: center;
    padding: 0.5em;
}
h1 {
    font-family: header-font;
    color:var(--headercolor);
    font-size: 2.1em;
}
h2, h3 {
    font-family: subheader-font;
    color:var(--headercolor);
}
h2{
    font-size: 1.6em;
}
h3 {
    font-size: 1.3em;
}
p, h4{
    font-family: main-text-font;
    color:var(--maintextcolor);
}
p {
    font-size: 1em;
}

.header,.leftside,.main,.rightside,.footer{
    background-color: var(--boxbgcolor);
}
.main, .footer{
    border:var(--bordermain);
    border-radius: 5px;
}
.leftside,.rightside{
    border: var(--borderaside);
    border-radius: 10px;
}
.header{
    border:var(--borderheader);
    font-size: 1.3em;
}

.navbar{
    font-family:"header-font";
}
.navbar>li{
    margin-bottom: 3px
}

.rightside>h2{
    background-color:rgba(255, 255, 255, 0.694);
}
.leftside>h2{
    text-decoration: underline;
    background-color:rgba(255, 255, 255, 0.694);
}
.rightside>h2,h3{
    text-decoration: underline;
}

/* margin refers to the outside of the boxes */
.banner,.header,.leftside,.main,.rightside,.footer{
    margin: 0.5em;
}

/*container with all site components inside*/
.flex-body{
    display:flex;
    flex-direction:column;
    max-width: 930px;
    margin: 0 auto;
}
.flex-row, .flex-middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.banner{
    width:auto;
    margin-bottom: 0px;
}
.header{
    margin-top: 0px;
    border-radius: 15px;
}
aside{
    height: auto;
    width: 10em;
}
.main{
    text-align: left;
    height: auto;
    width: 60em;
}
.footer{
    text-align: center;
}
.leftside-jukebox{
    border-top-left-radius:25px ;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid #505B15;
}
/*scrollbox codepen info*/
.scrolling-box {
    display: block;
    width: auto;
    height: 10em;
    padding: 0.5em;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
  }
/*jukebox info - solaria*/
marquee{
    width:100%;
    display: block;
    margin: 0px;
}
#marq{
    padding: 0px;
    font-family: main-text-font;
}
.jukebox {
    position: relative;
    width: auto;
}
.jukebox button:first-of-type:not(ul button){
    width: 100%;
    border:none;
    margin-top:5px;
    background:transparent;
}
.jukebox ul button{
    background: transparent;
    width: 100%;
    font-size:1em;
    font-family: main-text-font;
    background-color: lavender;
}
.jukebox ul {
    display: none;
    list-style: none;
    position: absolute;
    top: 0px;
    left: 120px;
}
.jukebox:hover ul, .activate:focus + ul, .jukebox:focus-within > ul {
    display: inline-block;
}
